body {
    --color-primary: #009A04;
    --color-active: #e0e0e0;
}


@font-face {
    font-family: "VenusRising";
    src: url("assets/fonts/VenusRising.ttf");
}

#hud {
    color: var(--color-primary);
    font-family: "VenusRising",monospace;
    font-size: 48px;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}